:root {
    --color1-lightbrown: rgba(221, 209, 199, 1);
    --color2-lightgreen: rgba(194, 207, 178, 1);
    --color3-green: rgba(141, 181, 128, 1);
    --color4-slate: rgba(126, 137, 135, 1);
    --color5-purple: rgba(75, 74, 103, 1);
    --color6-grey: rgb(98, 102, 101);
}

h1, h2, h3, h4, h5, h6, p, li, ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--color6-grey);
}

.page-body {
    margin-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
}

a.header {
    color: var(--color5-purple);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0.3cm;
    margin-bottom: 0.0cm;
}

.page-title {
    text-align: center;
    width: 100%;
    padding: 25px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.1);
}

p, code {
    margin-top: 0.1cm;
    margin-bottom: 0.3cm;
}

p, li, code {
    font-size: medium;
}

pre {
    background-color: whitesmoke;
    padding: 10px;
    width: 100%;
}

.container-fluid {
    padding: 0 !important;
}

div.linkrow {
    align-content: center;
    vertical-align: middle;
    margin: 25px;
    min-height: 250px;
}

img.linkrow {
    width: auto;
    height: 200px;
    margin-left: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 12.5px;
    margin-left: 12.5px;
}


.link-title {
    text-align: left;
    width: 90%;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

.link-category {
    text-align: left;
    padding-bottom: 2.5px;
    color: rgba(128, 128, 128, 0.7);
    font-weight: 700;
    font-size: 90%;
}

.link-description {
    text-align: left;
    width: 80%;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    color: rgba(141, 181, 128, 1);
    font-size: 90%;
}

.link-details {
    text-align: left;
    padding-bottom: 2.5px;
    color: rgba(128, 128, 128, 0.7);
    font-size: 90%;
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-banner {
    width: 100%;
    text-align: center;
    padding: 50px;
    margin: 10px;
}

.link-description-container {
    border-bottom: 2px solid rgba(245, 245, 245, 0.8);
    padding-left: 25px;
    padding-bottom: 3rem;
    margin-top: 3rem;
}

