  .topnav {
    overflow: hidden;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    height: 60px;
    box-shadow: 0px 1px 10px #88888850;
  }
  
  .navlink-container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .topnav a.header {
    float: left;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 60px;
    vertical-align: auto;
  }
  
  .topnav a.header:hover {
    background-color: #ddd;
    color: black;
  }
  /* I don't know if this is actually doing anything as I think the js it uses is missing */
  .topnav a.active {
    background-color: rgb(200, 200, 200, 0.2);
    color: black;
    font-weight: bold;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }